@import url('https://fonts.googleapis.com/css2?family=Inter:wght@500&family=Source+Sans+Pro&family=Roboto:wght@400;500&display=swap');

:root {
    --first-color: #1A73E8;
    --input-color: #80868B;
    --border-color: #DADCE0;

    --code-font: "JetBrains Mono", monospace;
    --body-font: "Roboto", sans-serif;
    --footer-font: "Inter", sans-serif;
    --copyright-font: "Roboto", sans-serif;
    --normal-font-size: 1rem;
    --small-font-size: .75rem;
    --status-height: 48px;
    --animation: .15s ease;


    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Non-prefixed version, currently supported by Chrome and Opera */
}

html {
    scroll-behavior: smooth;
}

*, ::before, ::after {
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

body {
    margin: 0;
    padding: 0;
    font-family: var(--body-font);
    font-size: var(--normal-font-size);
}

h1 {
    margin: 0;
}

.l-form {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.form {
    width: 360px;
    padding: 4rem 2rem;
    border-radius: 1rem;
    box-shadow: 0 10px 25px rgba(92, 99, 105, .2);
}

.form__title {
    font-weight: 500;
    margin-bottom: 3rem;
}

.form__div {
    position: relative;
    height: 48px;
    margin-bottom: 1.5rem;
}

.form__input {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    font-size: var(--small-font-size);
    border: 1px solid var(--border-color);
    border-radius: .5rem;
    outline: none;
    padding: 1rem;
    background: none;
    z-index: 1;
}

.form__label {
    position: absolute;
    left: 1rem;
    top: 1rem;
    padding: 0 .25rem;
    background-color: #fff;
    color: var(--input-color);
    font-size: var(--normal-font-size);
    transition: .3s;
}

.form__button {
    display: block;
    margin-left: auto;
    padding: .75rem 2rem;
    outline: none;
    border: none;
    background-color: var(--first-color);
    color: #fff;
    font-size: var(--normal-font-size);
    border-radius: .5rem;
    cursor: pointer;
    transition: .3s;
}

.form__button:hover {
    box-shadow: 0 10px 25px rgba(92, 99, 105, .2);
}

.form__input:focus + .form__label {
    top: -.5rem;
    left: .8rem;
    color: var(--first-color);
    font-size: var(--small-font-size);
    font-weight: 500;
    z-index: 10;
}

.form__input:not(:placeholder-shown).form__input:not(:focus) + .form__label {
    top: -.5rem;
    left: .8rem;
    color: var(--first-color);
    font-size: var(--small-font-size);
    font-weight: 500;
    z-index: 10;
}

.form__input:focus {
    border: 1.5px solid var(--first-color);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h2 {
    margin-bottom: 0.4rem;
    color: #9495A4;
    font-size: 1.2rem;
}

h3 {
    color: #9495A4;
    margin-bottom: 0.4rem;
}

h4 {
    margin-bottom: 0.4rem;
    font-size: 1.5rem;
}

/*------------------------------Li hover anim*/
li {
    position: sticky;
}

li::before {
    transform: scaleX(0);
    transform-origin: bottom right;
}

li:hover::before {
    transform: scaleX(1);
    transform-origin: bottom left;
}

li::before {
    content: " ";
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    inset: 0 0 0 0;
    background: hsl(200 100% 80%);
    z-index: -1;
    transition: transform .3s ease;
}


/*------------------------------Footer*/
.footer {
    box-shadow: 0 10px 25px rgba(92, 99, 105, 0.2);
    border-radius: 1rem;
    background: #fff;
    max-width: 45rem;
    margin: 5rem auto;
    padding: 4rem 2rem .2rem 2rem;
    display: grid;
    grid-template-rows: 4fr 1fr;
    grid-row-gap: 3rem;
}

@media (max-width: 600px) {
    .footer {
        padding: 4rem 5rem .2rem 4rem;
    }
}

.footer__row--1 {
    font-family: var(--footer-font);
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(10rem, 1fr));
    grid-gap: 1rem;
}

.footer__row--2 {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.footer__col {
    margin-bottom: 2rem;
}

.footer__list {
    list-style: none;
}

.footer__mail {
    font-family: var(--copyright-font);
    list-style: none;
    display: inline-block;
}

.footer__items {
    display: inline-block;
    font-weight: 600;
}

.footer__items:not(:last-child) {
    margin-bottom: 0.4rem;
}

.footer__legal {
    font-weight: 600;
}

.footer__copyright {
    font-family: var(--copyright-font);
    font-weight: 300;
}

.footer__social {
    margin-top: 2rem;
}

.footer__icon {
    font-size: 1.5rem;
    margin-right: 1.5rem;
}

/*    Status Bar          */
.status-wrap {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    transform: translateY(var(--tg-viewport-height, 100vh));
}

.status {
    font-weight: normal;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    padding: 8px 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 0;
    background-color: #e64d44;
    box-shadow: 0 var(--status-height) #e64d44;
    color: #fff;
    height: var(--status-height);
    transition: transform var(--animation), visibility var(--animation);
    transform: translateY(var(--status-height));
    box-sizing: border-box;
    pointer-events: none;
    visibility: hidden;
    z-index: 11;
}

.status.shown {
    pointer-events: auto;
    visibility: visible;
    transform: translateY(0);
}

/*------------------------------Submit Button*/
/*.frame {*/
/*    width: 90%;*/
/*    margin: 40px auto;*/
/*    text-align: center;*/
/*}*/

button {
    margin: 20px;
}

.custom-btn {
    width: 130px;
    height: 40px;
    color: #fff;
    border-radius: .5rem;
    font-family: var(--normal-font-size);
    font-size: var(--normal-font-size);
    background: transparent;
    cursor: pointer;
    transition: all .3s ease;
    position: relative;
    outline: none;
    display: block;
    margin-left: auto;
    padding: .75rem 10rem;
}

.btn-3 {
    background: rgb(0, 172, 238);
    background: linear-gradient(0deg, rgba(0, 172, 238, 1) 0%, rgba(2, 126, 251, 1) 100%);
    width: 130px;
    height: 40px;
    line-height: 42px;
    padding: 0;
    border: none;

}

.btn-3 span {
    position: relative;
    display: block;
    width: 100%;
    height: 100%;
}

.btn-3:before,
.btn-3:after {
    position: absolute;
    content: "";
    right: 0;
    top: 0;
    background: rgba(2, 126, 251, 1);
    transition: all 0.3s ease;
}

.btn-3:before {
    height: 0%;
    width: 2px;
}

.btn-3:after {
    width: 0%;
    height: 2px;
}

.btn-3:hover {
    background: transparent;
    box-shadow: none;
}

.btn-3:hover:before {
    height: 100%;
}

.btn-3:hover:after {
    width: 100%;
}

.btn-3 span:hover {
    color: rgba(2, 126, 251, 1);
}

.btn-3 span:before,
.btn-3 span:after {
    position: absolute;
    content: "";
    left: 0;
    bottom: 0;
    background: rgba(2, 126, 251, 1);
    transition: all 0.3s ease;
}

.btn-3 span:before {
    width: 2px;
    height: 0%;
}

.btn-3 span:after {
    width: 0%;
    height: 2px;
}

.btn-3 span:hover:before {
    height: 100%;
}

.btn-3 span:hover:after {
    width: 100%;
}

/*------------------------------Nav Bar*/
nav {
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    -webkit-transform: translateY(-20%) translateZ(0);
    transform: translateY(-20%) translateZ(0);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    transition: all 0.6s .5s ease;
    display: inline-block;
    position: absolute;
    text-align: center;
    margin: 40px 0 0;
    width: 100%;
    opacity: 0;
    z-index: 3;
    left: 0;
    top: 0;
}

@media (prefers-reduced-motion) {
    nav {
        -webkit-transition: none;
        transition: none
    }
}

@media (max-width: 700px) {
    nav {
        margin: 26px 0 0;
    }
}

@media (max-height: 600px) {
    nav {
        margin: 26px 0 0;
    }
}

html.no-js nav, html.no-modern nav, nav.nav--active {
    -webkit-transform: translateY(0) translateZ(0);
    transform: translateY(0) translateZ(0);
    opacity: 1
}

nav.nav--unsticky {
    -webkit-transition: none;
    transition: none
}

nav.nav--publish {
    opacity: 0
}

nav.nav--sticky {
    -webkit-transition: opacity .3s ease;
    transition: opacity .3s ease;
    box-shadow: 0 2px 7px rgba(34, 43, 52, 0.1), 0 1px 0 rgba(227, 230, 233, 0.5);
    background: #fff;
    position: fixed;
    z-index: 999;
    width: 100%;
    opacity: 1;
    margin: 0;
    left: 0;
    top: 0
}

@media (max-height: 350px) {
    nav.nav--sticky {
        display: none
    }
}

nav.nav--sticky a {
    color: #49535e;
    font-size: 13px;
    padding: 25px 0 0
}

nav.nav--sticky a:after {
    height: 3px !important;
    margin-top: 22px !important
}

@media (max-width: 700px) {
    nav.nav--sticky a {
        padding: 14px 0 0
    }

    nav.nav--sticky a:after {
        margin-top: 11px !important
    }
}

@media (max-height: 720px) {
    nav.nav--sticky a {
        padding: 20px 0 0
    }

    nav.nav--sticky a:after {
        margin-top: 17px !important
    }
}

@media (max-height: 650px) {
    nav.nav--sticky a {
        padding: 18px 0 0
    }

    nav.nav--sticky a:after {
        margin-top: 15px !important
    }
}

@media (max-height: 600px) {
    nav.nav--sticky a {
        padding: 14px 0 0
    }

    nav.nav--sticky a:after {
        margin-top: 11px !important
    }
}

@media (max-width: 319px) {
    nav.nav--sticky a {
        font-size: 11px
    }
}

@media (min-width: 1360px) {
    nav.nav--sticky a {
        font-size: 14px
    }
}

@media (min-width: 1700px) {
    nav.nav--sticky a {
        font-size: 15px
    }
}

html:not(.touch) nav:hover a.active:after {
    -webkit-transition: width .5s ease, background-color .5s ease;
    transition: width .5s ease, background-color .5s ease;
    background: transparent;
    display: block;
    margin: auto;
    margin-top: 3px;
    content: "";
    height: 2px;
    width: 0
}

html:not(.touch) nav:hover a.active:hover {
    color: #ed4b37
}

html:not(.touch) nav:hover a.active:hover:after {
    background: #ed4b37;
    width: 100%
}

nav a {
    -webkit-transition: color .2s ease;
    transition: color .2s ease;
    text-transform: uppercase;
    display: inline-block;
    letter-spacing: 1px;
    word-spacing: 1px;
    text-align: left;
    font-weight: 500;
    font-size: 14px;
    padding: 6px 0;
    margin: 0 10px;
    color: #2e3133;
    border: 0
}

@media (max-width: 700px) {
    nav a {
        letter-spacing: 0.65px;
        margin: 0 7px
    }
}

@media (max-width: 340px) {
    nav a {
        margin: 0 5px
    }
}

@media (min-width: 1360px) {
    nav a {
        font-size: 15px
    }
}

@media (max-width: 319px) {
    nav a {
        font-size: 12px
    }
}

@media (min-height: 1050px) and (min-width: 1700px) {
    nav a {
        margin: 0 14px;
        font-size: 16px
    }
}

html:not(.touch) nav a:hover {
    color: #2389ee
}

nav a.active {
    color: #ed4b37
}

nav a.active:after {
    -webkit-transition: width .5s ease, background-color .5s ease;
    transition: width .5s ease, background-color .5s ease;
    background: #ed4b37;
    display: block;
    margin: auto;
    margin-top: 3px;
    content: "";
    width: 100%;
    height: 2px
}

nav a.active:hover:after {
    background: #ed4b37;
    width: 100%
}

nav a:after {
    -webkit-transition: width .5s ease, background-color .5s ease;
    transition: width .5s ease, background-color .5s ease;
    background: transparent;
    display: block;
    margin: auto;
    margin-top: 3px;
    content: "";
    height: 2px;
    width: 0
}

html:not(.touch) nav a:hover:after {
    background: #2389ee;
    width: 100%
}

@media (max-width: 300px) {
    nav [data-contact] {
        display: none
    }
}

html.facebook nav.nav--sticky {
    display: none !important
}