<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Geometrics</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="icon" href="/static/images/icon.svg">
</head>
<body>

<nav class="bg-gray-300 border-gray-200 px-2 sm:px-4 py-2.5">
    <div class="container flex flex-wrap justify-between items-center mx-auto">
        <a href="/" class="flex items-center">
            <img src="/static/images/icon.svg" class="mr-3 h-6 sm:h-9" alt="Geometrics Logo">
            <span class="self-center text-xl font-semibold whitespace-nowrap">Geometrics</span>
        </a>
        <div class="hidden w-full md:block md:w-auto" id="navbar-default">
            <ul class="flex flex-col p-2 mt-4 bg-gray-50 rounded-lg border border-gray-100 md:flex-row md:space-x-8 md:mt-0 md:text-sm md:font-medium md:border-0 md:bg-white">
                <li>
                    <a href="/profiles"
                       class="py-2 pr-4 pl-3 text-gray-700 rounded hover:bg-gray-100 md:hover:bg-transparent md:border-0 md:hover:text-blue-700 md:p-0 "><img
                                class="inline" src="/static/images/user.svg" alt="User Picture" width="25"> Профиль</a>
                </li>
            </ul>
        </div>
    </div>
</nav>

<main class="m-5 h-screen">
    <img class="inline" src="/static/images/user.svg" alt="User Picture" width="100">
    <div class="inline text-3xl">{{.name}}</div>
    <p class="text-lg">Школа: {{.user.School.Value}}<br>Класс: {{.user.Grade.Value}}<br>Решено
        задач: {{.solvedProblems}}<br>Последний
        раз в сети: {{ .user.LastOnline.Format "15:04 02/01/2006" }}
        <br>Зарегистрирован: {{ .user.CreatedAt.Format "15:04:05 02/01/2006" }}</p>


</main>

<footer class="bg-gray-900 border-gray-200 px-2 text-white">
    &copy; Geometrics
</footer>
</body>
</html>