<!DOCTYPE html>
<html>
<head>
    <meta name=viewport content="width=device-width,initial-scale=1">
    <meta charset="utf-8"/>
    <script src="https://cdn.geogebra.org/apps/deployggb.js"></script>
    <script src="https://cdn.tailwindcss.com"></script>
    <style>
        body {
            margin: 0;
            padding: 0;
        }
    </style>

</head>
<body>
<div id="ggbApplet"></div>

<script>
    var parameters = {
        "id": "ggbApplet",
        "width": 1636,
        "height": 705,
        "autoHeight": true,
        "showMenuBar": true,
        "showAlgebraInput": false,
        "showToolBar": true,
        "customToolBar": "{{ .problem.Toolbar }}",
        "showToolBarHelp": true,
        "showResetIcon": false,
        "enableLabelDrags": false,
        "enableShiftDragZoom": true,
        "enableRightClick": false,
        "errorDialogsActive": false,
        "useBrowserForJS": false,
        "allowStyleBar": false,
        "preventFocus": false,
        "showZoomButtons": false,
        "capturingThreshold": 3,
        "appletOnLoad": function (api) {
        },
        "showFullscreenButton": true,
        "scale": 1,
        "disableAutoScale": false,
        "allowUpscale": false,
        "clickToLoad": false,
        "appName": "geometry",
        "buttonRounding": 0.7,
        "buttonShadows": false,
        "language": "ru",
        "ggbBase64": "{{.problem.SolutionRaw}}"
    };
    var views = {'is3D': 0, 'AV': 1, 'SV': 0, 'CV': 0, 'EV2': 0, 'CP': 0, 'PC': 1, 'DA': 0, 'FI': 0, 'macro': 0};
    var applet = new GGBApplet(parameters, '5.0', 'ggbApplet');
    window.onload = function () {
        applet.inject('ggbApplet')
    };
    applet.setPreviewImage('data:image/gif;base64,R0lGODlhAQABAAAAADs=', 'https://www.geogebra.org/images/GeoGebra_loading.png', 'https://www.geogebra.org/images/applet_play.png');

    function send() {

        console.log(ggbApplet.getBase64());

        function readBody(xhr) {
            var data;
            if (!xhr.responseType || xhr.responseType === "text") {
                data = xhr.responseText;
            } else if (xhr.responseType === "document") {
                data = xhr.responseXML;
            } else {
                data = xhr.response;
            }
            return data;
        }

        let xhr = new XMLHttpRequest();

        xhr.onreadystatechange = function () {
            if (xhr.readyState == 4) {
                alert(readBody(xhr));
            }
        }

        xhr.open("POST", "/api/v1/problems/{{ .problem.ID }}");

        xhr.setRequestHeader("Content-type", "application/json");
        xhr.setRequestHeader("Accept", "application/json");
        xhr.setRequestHeader("Access-Control-Allow-Origin", "*")

        xhr.onload = () => console.log(xhr.responseText);

        let data = `{"ggb_base64": "` + ggbApplet.getBase64() + `"}`;

        xhr.send(data);
    }

</script>
<div class="send-btn my-8 mx-8">
    <a onclick="send()"
       class="hover:cursor-pointer bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded">Отправить на
        проверку</a>
</div>
</body>
</html>